/* 
    Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
*/

body {
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

/* ========================
            Typogragy
   ======================== */

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

a {
    color: #1792d2;

}

a:hover,
a:focus {
    color: #143774;
}

strong {
    font-weight: 700;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

.article-title {
    font-size: 1.5rem;
}

.article-read-more,
.article-info {
    font-size: .875rem
}

.article-read-more {
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
    color: #143774;
    text-decoration: underline;
}

/* ========================
            Layout
   ======================== */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: #f8f8f8;
    padding: 2em 0;
}

/* Navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;

}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.active {
    border-bottom: 2px solid #707070;
}

.active:hover {
    color: #707070;
}

@media (max-width: 675px) {
    header {
        text-align: center;
    }

    .container-nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: .5em 0;
    }
}