html {
    font-size: 110%;
}
body {
    margin: 0;
    font-size: 1rem;
    font-size: 10px;
    color: #2e354f;
}

.section-one {
    font-size: 2em;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2em;
    color: #ef5839;
}

ul {
    font-size: 1.5em;
}

li {
    font-size: 1.5em;
}

img {
    width: 250px;
}

.btn-white:hover {
    color: #2e354f;
    background: #999;
}

header {
    background-color: #2e354f;
    padding: 45px 0;
    color: #fff;
}

section {
    padding: 45px 0;
}

.container {
    width: 90%;
    max-width: 620px;

    margin: 0 auto;
    /* border: 2px solid magenta; */

}

.section-two {
    background: #2e354f;
    color: #fff;
}

