/* 
    Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
*/

body {
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

/* ========================
            Typogragy
   ======================== */

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

/* ========================
            Layout
   ======================== */

header {
    text-align: center;
    background-color: #f8f8f8;
    padding: 2em 0;
}

/* Navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1em;

}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em;
}

nav a:hover,
nav a:focus{
    color: #1792d2;
}

.active {
    border-bottom: 2px solid #707070;
}

.active:hover {
    color: #707070;
}