body {
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
}

/* Typografy */

h1 {
    font-size: 3rem;
    color: #212614;
    text-align: center;
}

h1 span {
    color: #b78328;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
}

/* Layout */

img {
    width: 100%;
}

.container {
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}

.columns {
    display: flex;
    margin: 1em 0;
}

.col-bg {
    background-color: #212614;
    padding: 1em;
}